<div class="sql-home">

    <h3 class="sql-home-title">
        Get started with SQL Server and the programming language of your choice!
    </h3>

    <div class="sql-home-items">
        <div class="sql-home-item">
            
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="https://microsoft.github.io/sqldev/">Go to the getting started tutorials</a>
            </div>
        </div>

       
    </div>


    <footer class="sql-home-footer">
        <div class="sql-home-items">
            <div class="sql-home-item sql-home-item--column">
                <img class="sql-home-icon sql-home-icon--block" src="{{ '/assets/images/award.png' | relative_url }}" alt="">
                <span class="sql-home-text">Microsoft SQL Server was named RDBMS of the Year, 2016!</span>
            </div>

            <div class="sql-home-item sql-home-item--column">
                <a href="http://LandingPageURL.com"><img class="sql-home-icon sql-home-icon--block" src="{{ '/assets/images/channel9.png' | relative_url }}" alt=""></a>
                <span class="sql-home-text">Watch Build videos on Channel 9!</span>
            </div>
        </div>
    </footer>

    <span class="sql-home-message">
        Don't see a machine learning scenario you were looking for? Join the conversation on <a class="sql-home-link sql-home-link--underline" href="{{site.gitter}}" target="_blank">Gitter</a>.
        <br>
        <br>
        Contribute to these tutorials on <a class="sql-home-link sql-home-link--underline" href="https://github.com/Microsoft/sql-ml-tutorials/" target="_blank">GitHub</a>!
    </span>
</div>
